.head-area
{
    width:100%;
    background-color: #363636;
   height: 32px;
}
.main-container
{
    width: 80%;
    margin: 0 10%;
    height: 32px;
    

}

.phone-icon
{
    width: 15%;
   
    float: left;
}
.telephone
{

    float: left;
}
.telephone img
{
    padding: 7px;
}
.phnumber
{
    padding: 8px 0px;
    color: white;
    font-size: 13px;
}
.profile
{
    float: right;
}
.acoount-img
{
    
    background-color: #575757;
    float: left;
   
}

.kart
{
    width: 30%;
  
    float: left;
    margin-left: 7px;
}
.image
{
    margin-left: 4px;
    float: left;
}
.image img
{
    padding: 4px 3px;
}
.title
{
   
    float: left;
}
.title p
{
    margin: 8px 4px;
    color: white;
    font-size: 13px;

}
.drop-icon
{
   
    float: left;
}
.drop-icon img
{
    padding: 13px 5px;
    height: 6px;
}
.menu
{
    width: 100%;
   
    background-color: white;
   
}
.menu-bar
{
   
    height: 100px;
    width: 80%;
    margin: auto
   
}
.logo
{
  
    float: left;

}
.logo img
{
    padding: 17px 0px;
}
.menu-item
{
    width: 64%;
    
    
    float: left;
}
.menu-item li
{
    display: inline-block;
   
    padding: 23px 35px;
    font-size: 19px;
    color: black;
}
.cities
{
    float: right;
  
}
.options
{
    MARGIN: 21% 0;
    padding: 11px 4px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid black;
}


.search-area
{
    width: 100%;
    background-color: #363636;
    height: 113px;
}
.search-area-content
{
    width: 80%;
    margin: auto;
   
    
}
.location
{
    width: 26%;
   color: white;
    float: left;
    
}
.sector-option
{
    PADDING: 10PX 5px;
    WIDTH: 88%;
    font-size: 14px;
}
.location p
{
    MARGIN-TOP: 2REM;
   
    LINE-HEIGHT: 0;
}
.textboxx
{
    padding: 10PX 10px;
   
    width: 90%;
    font-size: 14px;
}

.different
{
    width: 5%;
   
    float: left;
}
.different p 
{
    font-size: 29px;
    color: white;
  
    padding: 15px 0;

}


.middle-container
{
   
   background-image: url('../images/slide.png');
    height: 390px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    
}


.middle-area
{
    width: 80%;
    margin: auto;
    
}

.middle-area p
{
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: orange;
    width: 29%;
    position: absolute;
    top:39%;
    left: 10%;
   
    margin-top: 0;
}
#Delievry
{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 24%;
}
.order-items
{
    width: 100%;
   height: 270px;
    background-color: white;
}

.order-item-list
{
    width: 80%;
   
   
    margin: auto;
   
}
.titles
{
    
        font-size: 28px;
        line-height: 0;
        text-align: center;
        letter-spacing: 1;
        padding: 24px 0;
}
.underline
{
    width: 33%;
    padding: 1px 0;
    background-color: #ff9d01;
    margin: auto;
}
.imagess
{
    padding: 0 5px;
}
.dishes
{
    background-image: url('../images/bg1.png');
    height: 100vh;
}

.photos
{
   
}

.photos1
{
    
}

.photos2
{
    
}

.photoss
{
    width: 100%;
    background-color: white;
  
}
.plan-gift
{
    width: 80%;
    margin: auto;
    padding: 37px 0;
  
}
.plan-gift img
{
    width: 49%;
}
.join
{
    width: 100%;
    position: relative;
}
.join-container
{
    width: 80%;
    margin: auto;
   
  
    position: absolute;
    top: 0;
    height: 200px;
    left: 10%;
    text-align: center;
}
.join-container p
{
    font-size: 31px;
    line-height: 0;
    padding: 10px 0;
    color: #ff6101;
    position: absolute;
    top: 16%;
    left: 27%;
    font-weight: bold;
}
#heading
{
    color: #6b6b6b;
    font-size: 22px;
    position: absolute;
    top: 39%;
    left: 38%;
    font-style: italic;
}
.join-container img
{
    top: 71%;
    position: absolute;
    left: 40%;
}
.hotel-discription
{
    width: 100%;
    height: 381px;
    background-color: white;
    position: relative;

}
.hotel-images
{
    width: 80%;
   
    margin: auto;
    
}
#title-cont
{
    padding: 24px;
    width: 30%;
    
    position: absolute;
    left: 33%;
}

.hotel-images p 
{
    color: black;
    text-align: center;
    font-size: 28px;
    margin: 0%;
}
.line
{
    width: 21%;
    background-color: orange;
    height: 3px;
    position: absolute;
    top: 16%;
left: 40%;

}
.infohotel
{
    width: 80%;
    
   
    position: absolute;
    top: 25%;
    left: 10%;
}
.restaurant
{
    width: 19%;
    float: left;
    height:249px;
    
    margin-left: 8px;
    border: 1px solid #d2d2d2;
    border-radius: 2%;

}
.aroma-image
{
    width: 100%;
    height: 120px;
   
}
.aroma-image img
{
    height: 120px;
    width: 100%;
    position: relative;
}
.textt
{
    width: 19%;
    height: 26px;
    background-color: black;
    position: absolute;
    top: 38%;
    opacity: 0.8;
}
.textt p 
{
    COLOR: WHITE;
  
    margin-top: 4px;
    text-align: center;

}
#hotel-name
{
    font-size: 16px;
   
    color: black;
    padding: 9px 12px;

}
#about-hotel
{
    font-size: 13px;
    text-align: left;
    padding: 9px;
    line-height: 1;
    
    position: absolute;
    top: 13%;
   
    color: #636363;
}

.discription-aroma
{
    width: 100%;
    height: 124px;
   
    position: relative;
    top: -6%;
}

.bars
{
    width: 19%;
    height: 215px;
    
    float: left;
    margin-left: 8px;
    border: 1px solid #d2d2d2;
    border-radius: 2%;
}
.bar-image
{
    width: 100%;
    height: 106px;
    
}
.bar-image img
{
    height: 123px;
    width: 100%;
    position: relative;
}
.texttt
{
    width: 19%;
    height: 26px;
    background-color: black;
    position: absolute;
    top: 39%;
    opacity: 0.7;
}
.texttt p 
{
    COLOR: WHITE;
  
    margin-top: 4px;
    text-align: center;

}
.discription-bar
{
    width: 100%;
    height: 93px;
   
    position: relative;

}

#bar-name
{
    font-size: 16px;
   
    color: black;
    padding: 10px 10px;

}
#about-bar
{
    font-size: 12px;
    text-align: left;
    padding: 11px 9px;
    line-height: 1;
    position: absolute;
    top: 13%;
    color: #636363;
}
.subscribe
{
    width: 100%;
   height: 77px;
    background-color: #ff9d01;
}
.subscribe-cont
{
    width: 80%;
    
   position: relative;
    margin: auto;
}
.paragraph
{
    width: 50%;
    float: left;
   
   
   
   
}
.paragraph p
{
    font-size: 25px;
    color: white;
}
.buttons
{
    width: 50%;
    float: left;
   
   
}
.buttons p
{
    width: 55%;
   
    color: #d2d2d2;
    font-size: 20px;
    background-color: white;
    padding: 5px 12px;
    letter-spacing: 1;
    margin-left: 16%;
    margin-top: 26px;
    border-radius: 2%;
   
}

.buttons button
{
    position: absolute;
    left: 88%;
    top: 25px;
    font-size: 17px;
    padding: 5px 28px;
    background-color: black;
    color: white;
    border-radius: 6%;
}

.footer
{
    width: 100%;
    height: 200px;
    background-color: black;
}
.footer-cont
{
    width: 80%;
    height: 200px;
   
    margin: auto;
    position: relative;
}
.footer-cont img
{
    position: absolute;
    top: 10%;
    left: 90%;
}
.footer-cont li
{
    display: inline-block;
    padding: 27px 10px;
    font-size: 16px;
    color: white;
}
.line1
{
    height: 2px;
    width: 100%;
    
    background-color: #ffffff;
    position: absolute;
  
}
.logo-footer
{
    width: 15%;
    
   
    position: absolute;
    
    float: left;
    top: 61%;
    left: 1%;
}
.footer-paira
{
    width: 78%;
    float: right;

}
.footer-paira p
{
    padding: 21px 0;
    color: white;
}


















