.main-container {
  height: 32px;
  width: 100%;

  background-color: #363636;
}
.head-area-content {
  width: 90%;
  margin: auto;
}
.phone-icon {
  width: 15%;

  float: left;
}
.phone-icon img
{
  padding: 7px 0;
}
.profile {
  float: right;
}
.acoount-img {
  background-color: #575757;
  float: left;
}

.kart {
  width: 30%;

  float: left;
  margin-left: 7px;
}
.image {
  margin-left: 4px;
  float: left;
}
.image img {
  padding: 4px 3px;
}
.title {
  float: left;
}
.title p {
  margin: 8px 4px;
  color: white;
  font-size: 13px;
}
.drop-icon {
  float: left;
}
.drop-icon img {
  padding: 13px 5px;
  height: 6px;
}
/* finish head area*/

.menu {
  width: 100%;

  background-color: white;
}
.menu-bar {
  height: 92px;
  width: 90%;
  margin: auto;
}
.logo {
  float: left;
}
.logo img {
  padding: 13px 0px;
}
.menu-item {
  width: 64%;

  float: left;
}
.menu-item ul {
  margin: 12px 68px;
}
@font-face
    {
        font-family: 'Klavika-Regular';
        src: url('/fonts/Klavika-Regular.ttf');
    }
.menu-item li {
  display: inline-block;

  padding: 23px 30px;
  font-size: 19px;
 
  font-family: Klavika-Regular;
  
}
.cities {
  float: left;
}
.options {
  padding: 7px 4px;
  font-size: 16px;
 
  border: 2px solid black;
  margin-top: 21%;
  margin-left: 34%;
  font-family:  Klavika-Regular;
}
/* finish menu bar */

.search-area {
  width: 100%;
  background-color: #363636;
  height: 120px;
}
.search-area-content {
  width: 90%;
  margin: auto;
}
.location {
  width: 27%;
  color: white;
  float: left;
}
.sector-option {
  padding: 10px 5px;
  width: 93%;
  font-size: 14px;
  border-radius: 6px;
  font-family: 'Klavika-Light';
}
@font-face
    {
        font-family: 'Klavika-Light';
        src: url('/fonts/Klavika-Light.otf');
    }
.location p {
  margin-top: 2rem;
  font-family: Klavika-Light;
  line-height: 0;
}
.textboxx {
  padding: 10px 10px;
  border-radius: 6px;
  width: 97%;
  font-size: 14px;
  border: unset;
  font-family: 'Klavika-Light';
}
.search-area-content img {
  margin-top: 3.9%;

  margin-left: 1%;
}
.different {
  width: 5%;

  float: left;
}
.different p {
  font-size: 29px;
  color: white;
  font-family: 'Klavika-Light';
  padding: 17px 14px;
}
/* finish location area */

.middle-container {
  background-image: url("../images/slide.png");
  height: 390px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.middle-area {
  width: 90%;
  margin: auto;
}
@font-face
    {
        font-family: 'Adelle_Bold';
        src: url('/fonts/Adelle_Bold.otf');
    }
.middle-area p {
  font-size: 39px;
   
    color: white;
    background-color: orange;
  
    position: absolute;
    top: 39%;
    font-family: 'Adelle_Bold';
    margin-top: 0;
    letter-spacing: 2px;
    padding: 7px;
}
#Delievry {
  position: absolute;
  top: 57%;

}

/* finish middle area */

.order-items {
  width: 100%;
  height: 270px;
  background-color: white;
}

.order-item-list {
  width: 90%;

  margin: auto;
}
.titles {
  font-size: 31px;

  text-align: center;
  letter-spacing: 1;
  padding: 24px 0;
  font-family: 'Klavika-Light'
}
.titles span {
  border-bottom: 3px solid orange;
}
.imagess img {
  margin: 15px 0;
  padding: 0 18px;
}
/* finish ordering area */

.dishes {
  background-image: url("../images/bg1.png");
  height: 102vh;
}
.cities-food {
  width: 90%;
  margin: auto;
}

.photos {
  float: left;

  position: relative;

  margin: 20px 16px;
}

.count {
  height: 30px;
  position: absolute;
  background-color: black;
  width: 100%;
  bottom: 0;
  opacity: 0.7;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.count p {
  color: white;
    font-size: 15px;
    margin: 4px 0;
    font-weight: bold;
    padding: 2px 10px;
    font-family: 'Klavika-Light';
}
.dish-city {
  height: 60px;
  background-color: black;
  width: 60px;

  position: absolute;
  top: 21%;
  left: 39%;
  opacity: 0.7;
  border-radius: 50%;
}
.dish-city P {
  color: WHITE;
  font-size: 20px;
  font-family: 'Klavika-Light';
  text-align: CENTER;
}
/* finish photos area*/

.photoss {
  width: 100%;
  background-color: white;
}
.plan-gift {
  width: 90%;
  margin: auto;
  padding: 37px 0;
}

/* finish planning area*/

.join {
  background-image: url("../images/started-bg.png");
  height: 279px;
  background-position: center;
  background-size: cover;
}
.join-container {
  width: 80%;
  margin: auto;

  text-align: center;

  padding: 3.6rem 0;
}
.join-container p {
  margin: 0;
    font-size: 28px;
    color: #ff6101;
  
    font-family: 'Klavika-Regular';
}
.join-container img {
  margin-top: 1%;
}
#easy {
  color: #747474;
  font-style: italic;
  font-size: 21px;
  line-height: 2;

}
/* finish joinning area */

.hotel-discription {
  width: 100%;
  height: 472px;
  background-color: white;
}

.infohotel {
  width: 90%;
  margin: auto;
}

.hotels {
  width: 18%;
  position: relative;
  float: left;
  margin-left: 1%;
  border: 1px solid #d2d2d2;
  border-radius: 3%;
}
.fav-img {
  position: relative;
}
.hotels img {
  width: 100%;
}
.hotels p {
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Klavika-Regular';
 
}
.shops {
  background-color: black;
  padding: 5px 0;
  opacity: 0.7;
  position: absolute;
  top: 128px;
  width: 100%;
  letter-spacing: 0.5;
}
.shops p {
  margin: 0;
  color: white;
  text-align: center;
  font-family: 'Klavika-Regular';
  font-weight: unset;
  letter-spacing: 0px;
  font-size: 13px;
}
#pairagraph {
  padding: 0 10px;
  text-align: left;
  font-size: 13px;
  font-weight: unset;
  line-height: 2;
  font-family: 'Klavika-Light';
}
.hotelss {
  width: 18%;
  height: 320px;
  float: left;
  margin-left: 1%;
  border: 1px solid #d2d2d2;
  border-radius: 3%;
  position: relative;
}
.hotelss img {
 width:100%;
}
.hotelss p {
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Klavika-Regular';
}

/*finish favourite area */



.subscribe {
  width: 100%;
  height: 70px;
  background-color: #ff9d01;
}
.subscribe-cont {
  width: 90%;

  margin: auto;
}
.paragraph {
  width: 45%;
  float: left;
}
.paragraph p {
  font-size: 22px;
  color: white;
  font-family: 'Klavika-Light';
}
.buttons {
  width: 51%;
  float: right;

  text-align: right;
  margin-top: 16px;
}
.mail-address {
  padding: 8px 1rem;
  border-radius: 4px;
  font-size: 16px;
  width: 54%;
  border: unset;
  font-family: 'Klavika-Light';
}

.buttons button {
  font-size: 17px;
  padding: 8px 20px;
  background-color: black;
  color: white;
  border-radius: 4px;
  width: 20%;
  border:unset;
  font-family: 'Klavika-Light';
}

/* finish subscribe area */

.footer {
  width: 100%;

  background-image: url("../images/footer-bg.png");
}
.footer-cont {
  width: 90%;
  height: 200px;

  margin: auto;
}
.footer-bar {
  width: 88%;
  float: left;
}
.logos-image {
  width: 12%;
  float: left;
}
.ftlogo {
  padding: 22px 0;
  float: right;
}
#about-footer
{
    color: white;
}
.footer-cont li {
  display: inline-block;
  padding: 27px 10px;
  font-size: 16px;
  color: #b7b7b7;
  font-family: 'Klavika-Regular';
}
.line1 {
  height: 2px;
  width: 100%;
  float: left;
  background-color: #ffffff;
}
.logo-footer {
  width: 15%;
  float: left;
}
#logo-hotel {
  padding: 28px 0;
}
.footer-paira {
  width: 82%;
  float: right;
}
.footer-paira p {
    text-align: left;
    font-size: 15px;
  color: #b7b7b7;
  padding: 11px 0;
  font-family: 'Klavika-Regular';
}
#made-by {
    line-height: 0;
   color: white;
    padding: 0;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Klavika-Regular';
}





@media only screen and (min-width: 320px)
{

.main-container
{
  height: 135px
}
.phone-icon
{
  float: unset;
    width: 100%;
   
    text-align: center;
}
.phone-icon img
{
  height: 52px;
}
.profile
{
  float: unset;
}
.image img
{
  height: 52px;
}
.title p
{
  font-size: 25px;
    padding: 10px;
}
.drop-icon img
{
  padding: 20px 0;
   
    height: 21px;
}










.menu-item
{
  width: unset;
  margin-top: 19px;
}
.menu-item ul
{
  margin: unset;
 
}
.menu-item li
{
  padding: 18px 16px;
}





}












@media only screen and (min-width: 1020px)
{
  .main-container {
    height: 32px;
    width: 100%;
  
    background-color: #363636;
  }
  .head-area-content {
    width: 90%;
    margin: auto;
  }
  .phone-icon {
    width: 15%;
  
    float: left;
  }
  .phone-icon img
  {
    padding: 7px 0;
    height: unset;
  }
  .profile {
    float: right;
  }
  .acoount-img {
    background-color: #575757;
    float: left;
  }
  
  .kart {
    width: 30%;
  
    float: left;
    margin-left: 7px;
  }
  .image {
    margin-left: 4px;
    float: left;
  }
  .image img {
    padding: 4px 3px;
  }
  .title {
    float: left;
  }
  .title p {
    margin: 8px 4px;
    color: white;
    font-size: 13px;
  }
  .drop-icon {
    float: left;
  }
  .drop-icon img {
    padding: 13px 5px;
    height: 6px;
  }
  /* finish head area*/
  
  .menu {
    width: 100%;
  
    background-color: white;
  }
  .menu-bar {
    height: 92px;
    width: 90%;
    margin: auto;
  }
  .logo {
    float: left;
  }
  .logo img {
    padding: 13px 0px;
  }
  .menu-item {
    width: 64%;
  
    float: left;
  }
  .menu-item ul {
    margin:unset;
  }
  @font-face
      {
          font-family: 'Klavika-Regular';
          src: url('/fonts/Klavika-Regular.ttf');
      }
  .menu-item li {
    display: inline-block;
  
    padding: 18px 52px;
    font-size: 19px;
   
    font-family: Klavika-Regular;
    
  }
  .cities {
    float: left;
  }
  .options {
    padding: 7px 4px;
    font-size: 16px;
   
    border: 2px solid black;
    margin-top: 21%;
    margin-left: 34%;
    font-family:  Klavika-Regular;
  }
  /* finish menu bar */
  
  .search-area {
    width: 100%;
    background-color: #363636;
    height: 120px;
  }
  .search-area-content {
    width: 90%;
    margin: auto;
  }
  .location {
    width: 27%;
    color: white;
    float: left;
  }
  .sector-option {
    padding: 10px 5px;
    width: 93%;
    font-size: 14px;
    border-radius: 6px;
    font-family: 'Klavika-Light';
  }
  @font-face
      {
          font-family: 'Klavika-Light';
          src: url('/fonts/Klavika-Light.otf');
      }
  .location p {
    margin-top: 2rem;
    font-family: Klavika-Light;
    line-height: 0;
  }
  .textboxx {
    padding: 10px 10px;
    border-radius: 6px;
    width: 97%;
    font-size: 14px;
    border: unset;
    font-family: 'Klavika-Light';
  }
  .search-area-content img {
    margin-top: 3.9%;
  
    margin-left: 1%;
  }
  .different {
    width: 5%;
  
    float: left;
  }
  .different p {
    font-size: 29px;
    color: white;
    font-family: 'Klavika-Light';
    padding: 17px 14px;
  }
  /* finish location area */
  
  .middle-container {
    background-image: url("../images/slide.png");
    height: 390px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .middle-area {
    width: 90%;
    margin: auto;
  }
  @font-face
      {
          font-family: 'Adelle_Bold';
          src: url('/fonts/Adelle_Bold.otf');
      }
  .middle-area p {
    font-size: 39px;
     
      color: white;
      background-color: orange;
    
      position: absolute;
      top: 39%;
      font-family: 'Adelle_Bold';
      margin-top: 0;
      letter-spacing: 2px;
      padding: 7px;
  }
  #Delievry {
    position: absolute;
    top: 57%;
  
  }
  
  /* finish middle area */
  
  .order-items {
    width: 100%;
    height: 270px;
    background-color: white;
  }
  
  .order-item-list {
    width: 90%;
  
    margin: auto;
  }
  .titles {
    font-size: 31px;
  
    text-align: center;
    letter-spacing: 1;
    padding: 24px 0;
    font-family: 'Klavika-Light'
  }
  .titles span {
    border-bottom: 3px solid orange;
  }
  .imagess img {
    margin: 15px 0;
    padding: 0 18px;
  }
  /* finish ordering area */
  
  .dishes {
    background-image: url("../images/bg1.png");
    height: 102vh;
  }
  .cities-food {
    width: 90%;
    margin: auto;
  }
  
  .photos {
    float: left;
  
    position: relative;
  
    margin: 20px 16px;
  }
  
  .count {
    height: 30px;
    position: absolute;
    background-color: black;
    width: 100%;
    bottom: 0;
    opacity: 0.7;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .count p {
    color: white;
      font-size: 15px;
      margin: 4px 0;
      font-weight: bold;
      padding: 2px 10px;
      font-family: 'Klavika-Light';
  }
  .dish-city {
    height: 60px;
    background-color: black;
    width: 60px;
  
    position: absolute;
    top: 21%;
    left: 39%;
    opacity: 0.7;
    border-radius: 50%;
  }
  .dish-city P {
    color: WHITE;
    font-size: 20px;
    font-family: 'Klavika-Light';
    text-align: CENTER;
  }
  /* finish photos area*/
  
  .photoss {
    width: 100%;
    background-color: white;
  }
  .plan-gift {
    width: 90%;
    margin: auto;
    padding: 37px 0;
  }
  
  /* finish planning area*/
  
  .join {
    background-image: url("../images/started-bg.png");
    height: 279px;
    background-position: center;
    background-size: cover;
  }
  .join-container {
    width: 80%;
    margin: auto;
  
    text-align: center;
  
    padding: 3.6rem 0;
  }
  .join-container p {
    margin: 0;
      font-size: 28px;
      color: #ff6101;
    
      font-family: 'Klavika-Regular';
  }
  .join-container img {
    margin-top: 1%;
  }
  #easy {
    color: #747474;
    font-style: italic;
    font-size: 21px;
    line-height: 2;
  
  }
  /* finish joinning area */
  
  .hotel-discription {
    width: 100%;
    height: 472px;
    background-color: white;
  }
  
  .infohotel {
    width: 90%;
    margin: auto;
  }
  
  .hotels {
    width: 18%;
    position: relative;
    float: left;
    margin-left: 1%;
    border: 1px solid #d2d2d2;
    border-radius: 3%;
  }
  .fav-img {
    position: relative;
  }
  .hotels img {
    width: 100%;
  }
  .hotels p {
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Klavika-Regular';
   
  }
  .shops {
    background-color: black;
    padding: 5px 0;
    opacity: 0.7;
    position: absolute;
    top: 128px;
    width: 100%;
    letter-spacing: 0.5;
  }
  .shops p {
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Klavika-Regular';
    font-weight: unset;
    letter-spacing: 0px;
    font-size: 13px;
  }
  #pairagraph {
    padding: 0 10px;
    text-align: left;
    font-size: 13px;
    font-weight: unset;
    line-height: 2;
    font-family: 'Klavika-Light';
  }
  .hotelss {
    width: 18%;
    height: 320px;
    float: left;
    margin-left: 1%;
    border: 1px solid #d2d2d2;
    border-radius: 3%;
    position: relative;
  }
  .hotelss img {
   width:100%;
  }
  .hotelss p {
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Klavika-Regular';
  }
  
  /*finish favourite area */
  
  
  
  .subscribe {
    width: 100%;
    height: 70px;
    background-color: #ff9d01;
  }
  .subscribe-cont {
    width: 90%;
  
    margin: auto;
  }
  .paragraph {
    width: 45%;
    float: left;
  }
  .paragraph p {
    font-size: 22px;
    color: white;
    font-family: 'Klavika-Light';
  }
  .buttons {
    width: 51%;
    float: right;
  
    text-align: right;
    margin-top: 16px;
  }
  .mail-address {
    padding: 8px 1rem;
    border-radius: 4px;
    font-size: 16px;
    width: 54%;
    border: unset;
    font-family: 'Klavika-Light';
  }
  
  .buttons button {
    font-size: 17px;
    padding: 8px 20px;
    background-color: black;
    color: white;
    border-radius: 4px;
    width: 20%;
    border:unset;
    font-family: 'Klavika-Light';
  }
  
  /* finish subscribe area */
  
  .footer {
    width: 100%;
  
    background-image: url("../images/footer-bg.png");
  }
  .footer-cont {
    width: 90%;
    height: 200px;
  
    margin: auto;
  }
  .footer-bar {
    width: 88%;
    float: left;
  }
  .logos-image {
    width: 12%;
    float: left;
  }
  .ftlogo {
    padding: 22px 0;
    float: right;
  }
  #about-footer
  {
      color: white;
  }
  .footer-cont li {
    display: inline-block;
    padding: 27px 10px;
    font-size: 16px;
    color: #b7b7b7;
    font-family: 'Klavika-Regular';
  }
  .line1 {
    height: 2px;
    width: 100%;
    float: left;
    background-color: #ffffff;
  }
  .logo-footer {
    width: 15%;
    float: left;
  }
  #logo-hotel {
    padding: 28px 0;
  }
  .footer-paira {
    width: 82%;
    float: right;
  }
  .footer-paira p {
      text-align: left;
      font-size: 15px;
    color: #b7b7b7;
    padding: 11px 0;
    font-family: 'Klavika-Regular';
  }
  #made-by {
      line-height: 0;
     color: white;
      padding: 0;
      font-size: 12px;
      letter-spacing: 2px;
      font-family: 'Klavika-Regular';
  }
  
  













}